.App {
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  width: 100%;
}

.header{
  font-family: 'Libre Baskerville', serif;

}
.input_box{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

}
/* .input_box TextField{
  width: 100px;
}
 */
